
.loginpage
{width: 300px;
background-color: #1d2c4f;
padding:0px 20px;
border-radius: 10px;
}
.register
{
    background-color:aqua;
  padding: 10px 40px;
 text-decoration: none;
 color: rgb(8, 8, 93);
 font-size: 20px;
 
 
}

.loginbutton
{
    background-color:aqua;
 
 text-decoration: none;
 color: rgb(8, 8, 93);
 font-size: 20px; 
 width: 100%;
 border: 2px aqua;
 padding: 5px ;
 border-radius: 5px;
 margin-top: 30px;
}